<h1
  class="mx-auto flex w-fit flex-col items-center place-self-center px-6 text-center font-sans leading-none font-semibold tracking-tight opacity-0"
>
  <span class="block text-center text-3xl tracking-[0.2em] uppercase">Week</span><span
    id="number"
    class="block text-center text-9xl tabular-nums"></span>
</h1>

<script>
  import { getWeekNumber } from "../utils/getWeekNumber"

  const $ = document.querySelector.bind(document)

  const START_DATE = new Date(2026, 0, 20)

  const h1 = $("h1")
  const span = $("#number")

  if (h1 && span) {
    const weekNumber = getWeekNumber(START_DATE, new Date())
    span.textContent = weekNumber.toString()

    h1.classList.remove("opacity-0")
  }
</script>
