---
import "../styles/global.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta property="og:title" content="what-week" />
    <meta property="og:description" content="what week is it?" />
    <meta name="generator" content={Astro.generator} />
    <title>what week is it?</title>
  </head>
  <body class="grid h-svh bg-background text-foreground">
    <slot />
  </body>
</html>
